@model OSRSClientSide.Models.ProductDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.product_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.product_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>



    </dl>
</div>
<p>
   
    @Html.ActionLink("Home Page", "Index")
</p>
